@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;800&family=Nunito+Sans:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

img {
    max-width: 100%;
}

body {
    background-color: #e6e641;
}

.navegador {
    list-style-type: none;
    padding-inline: 15.5rem;
    background-color: black;
    position: fixed;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

.navegador a {
    text-decoration: none;
}


.menu {
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    margin-inline: 3rem;
    color: white;
}

.logobarein {
    margin-block: 6rem;
    margin-left: 31rem;
    margin-right: 10rem;
}

.fotoinicio {
    margin-block: 3rem;
}

.principal {
    display: flex;
    margin-bottom: 3rem;
}

.textoinicio {
    font-family: 'Assistant', sans-serif;
    text-align: center;
    font-weight: 800;
}

.quienes-somos {
    margin-bottom: 2rem;
}

footer {
    font-family: 'Nunito Sans', sans-serif;
    background-image: url(../img/pirellifooter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: yellow;
}

.titulo-final {
    font-size: 1.5rem;
}

.datos-barein {
    padding-left: 1rem;
    padding-top: 1rem;
}