.productos-section {
    margin-top: 2rem;
    
    .productos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.4fr 1fr 1fr;
        grid-template-areas: 
            "titulo   titulo"
            "article  article"
            "pzero    cinturato"
            "scorpion chrono";
        row-gap: 3rem;
        column-gap: 7rem;
        margin-inline: 7rem;

        @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            margin-inline: 2rem !important;
        }

        @include tabletsmall {
            row-gap: 2rem;
            column-gap: 0.5rem;
            margin-inline: 1rem;
        }

        @include panoramic {
            row-gap: 2rem;
            column-gap: 4rem;
            margin-inline: 4rem;
        }

        h1 {
            font-size: unset;
            font-weight: unset;
        }

        .prod-title {
            grid-area: titulo;
            justify-self: center;
            color: white;
            font-size: 5rem;
            font-weight: 800;
            text-shadow: 2px 5px grey; 

            @include mobile {
                text-align: center;
                font-size: 2.8rem;
            }
        }

        .article-neumaticos {
            grid-area: article;
            justify-self: center;
            align-items: center;

            .productos-introduccion {
                width: 40vw;
                justify-items: center;
                background-color: white;
                border-radius: 10px;
                justify-self: center;
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                color: black;
                padding-inline: 1rem;
                padding-top: 1.5rem;
                padding-bottom: 0.5rem;

                @include tabletlarge {
                    width: 60vw;
                    font-size: 0.8rem;
                }

                @include mobile {
                    width: 100%;
                    justify-self: center;
                }
            }
        }

        .flia-pzero {
            grid-area: pzero;
            background-color: $cajita-colorprincipal;
            border: 1px solid white;
            border-radius: 10px;
            padding: 1rem;
            transition: 0.5s;
            text-decoration: none;
            color: black;

            &:hover {
                border: 3px solid #dddd70;
                background-color: $cajita-colorhover;
                transform: scale(1.1);
            }

            &:hover .family-title {
                text-align: center;
                color: $cajita-titlehover;
            }
        }
        
        .flia-cinturato {
            grid-area: cinturato;
            background-color: $cajita-colorprincipal;
            border: 1px solid white;
            border-radius: 10px;
            padding: 1rem;
            transition: 0.5s;
            text-decoration: none;
            color: black;

            &:hover {
                border: 3px solid #dddd70;
                background-color: $cajita-colorhover;
                transform: scale(1.1);
            }
            
            &:hover .family-title {
                text-align: center;
                color: $cajita-titlehover;
            }
        }
        
        .flia-scorpion {
            grid-area: scorpion;
            background-color: $cajita-colorprincipal;
            border: 1px solid white;
            border-radius: 10px;
            padding: 1rem;
            transition: 0.5s;
            text-decoration: none;
            color: black;

            &:hover {
                border: 3px solid #dddd70;
                background-color: $cajita-colorhover;
                transform: scale(1.1);
            }
            
            &:hover .family-title {
                text-align: center;
                color: $cajita-titlehover;
            }
        }
        
        .flia-chrono {
            grid-area: chrono;
            background-color: $cajita-colorprincipal;
            border: 1px solid white;
            border-radius: 10px;
            padding: 1rem;
            transition: 0.5s;
            text-decoration: none;
            color: black;

            &:hover {
                border: 3px solid #dddd70;
                background-color: $cajita-colorhover;
                transform: scale(1.1);
            }
            
            &:hover .family-title {
                text-align: center;
                color: $cajita-titlehover;
            }
        }
    }

    .productos .family-title {
        background-color: rgba(133, 126, 126, 0.715);
        padding-inline: 1rem;

        @include mobile {
            font-size: 1rem;
        }
    }
    
    .productos .family-img {
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .productos .family-text {
        text-align: justify;

        @include mobile {
            font-size: 0.8rem;
        }

        @include tabletsmall {
            font-size: 0.8rem;
        }
    }
}


// *****ANIMACIONES*****


.prod-title {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.4s both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.4s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-1 15:8:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
}
