.servicios-section {

    .grid-servicios {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: .05fr 1fr 1fr 1fr;
        grid-template-areas: 
            "titulo     titulo     titulo     titulo     titulo     titulo"
            "alineacion alineacion alineacion suspension suspension suspension"
            "balanceo   balanceo   frenos     frenos     tren       tren"
            ".          .          mecanica   mecanica   .          .";
        row-gap: 3rem;
        column-gap: 7rem;
        margin-inline: 7rem;

        @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            margin-inline: 2rem;
        }

        @include panoramic {
            row-gap: 2rem;
            column-gap: 4rem;
            margin-inline: 4rem;
        }

        @include tabletlarge {
            margin-inline: 1rem;
        }

        .serv-title {
            grid-area: titulo;
            justify-self: center;
            color: white;
            font-size: 2.5rem;
            text-shadow: 2px 5px grey;

            @include mobile {
                text-align: center;
            }
        }

        .serv-alineacion {
            grid-area: alineacion;
            background-color: $cajita-colorprincipal;
            border: 1px solid white;
            border-radius: 10px;
            padding: 1rem;
            transition: 0.5s;

            &:hover {
                border: 3px solid #dddd70;
                background-color: $cajita-colorhover;
                margin-inline: 0.5rem;
            }
            
            &:hover .subtitle {
                text-align: center;
                color: $cajita-titlehover;
            }
        }
        
        .serv-balanceo {
            grid-area: balanceo;
            background-color: $cajita-colorprincipal;
            border: 1px solid white;
            border-radius: 10px;
            padding: 1rem;
            transition: 0.5s;

            &:hover {
                border: 3px solid #dddd70;
                background-color: $cajita-colorhover;
                margin-inline: 0.5rem;
            }
            
            &:hover .subtitle {
                text-align: center;
                color: $cajita-titlehover;
            }
        }
        
        .serv-frenos {
            grid-area: frenos;
            background-color: $cajita-colorprincipal;
            border: 1px solid white;
            border-radius: 10px;
            padding: 1rem;
            transition: 0.5s;

            &:hover {
                border: 3px solid #dddd70;
                background-color: $cajita-colorhover;
                margin-inline: 0.5rem;
            }
            
            &:hover .subtitle {
                text-align: center;
                color: $cajita-titlehover;
            }
        }
        
        .serv-suspension {
            grid-area: suspension;
            background-color: $cajita-colorprincipal;
            border: 1px solid white;
            border-radius: 10px;
            padding: 1rem;
            transition: 0.5s;

            &:hover {
                border: 3px solid #dddd70;
                background-color: $cajita-colorhover;
                margin-inline: 0.5rem;
            }
            
            &:hover .subtitle {
                text-align: center;
                color: $cajita-titlehover;
            }
        }
        
        .serv-tren {
            grid-area: tren;
            background-color: $cajita-colorprincipal;
            border: 1px solid white;
            border-radius: 10px;
            padding: 1rem;
            transition: 0.5s;

            &:hover {
                border: 3px solid #dddd70;
                background-color: $cajita-colorhover;
                margin-inline: 0.5rem;
            }
            
            &:hover .subtitle {
                text-align: center;
                color: $cajita-titlehover;
            }
        }
        
        .serv-mecanica {
            grid-area: mecanica;
            background-color: $cajita-colorprincipal;
            border: 1px solid white;
            border-radius: 10px;
            padding: 1rem;
            transition: 0.5s;

            &:hover {
                border: 3px solid #dddd70;
                background-color: $cajita-colorhover;
                margin-inline: 0.5rem;
            }
            
            &:hover .subtitle {
                text-align: center;
                color: $cajita-titlehover;
            }
        }
    }

    .grid-servicios .subtitle {
        background-color: rgba(133, 126, 126, 0.715);
        padding-inline: 1rem;

        @include mobile {
            font-size: 1.0rem;
        }

        @include panoramic {
            font-size: 1.5rem;
        }

        @include tabletlarge {
            font-size: 1rem;
            padding: 0.5rem;
        }
    }
    
    .grid-servicios .serv-img {
        width: 100%;
    }
}



// *****ANIMACIONES*****


.serv-title {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.4s both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.4s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-1 15:8:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  